body
{}
.main_section
{
display: flex;

border: 2px solid red;
height: 100vh;
width: 500px;	
}
.one_div
{
	background-color:#89CFF0;
	color: white;
	text-align:center;
	letter-spacing:7px;
	width:50vw;
	height:150px;
	color:white;

}
.one_h1
{letter-spacing:17px;}

.dae
{
	background-color: black;
	color: white;
	text-align:center;
	height: 40px;
	width: 60px;
	position:absolute;
	left:15px;
	top: 180px;
}
.dae1
{
	background-color: black;
	color: white;
	text-align:center;
	height: 40px;
	width: 60px;
	position:absolute;
	left:15px;
	top: 240px;
}
.dae2
{
	background-color: black;
	color: white;
	text-align:center;
	height: 40px;
	width: 60px;
	position:absolute;
	left:15px;
	top:300px;
}
.dae3
{
	background-color: black;
	color: white;
	text-align:center;
	height: 40px;
	width: 160px;
	position:absolute;
	left:15px;
	top:360px;
}
.trend
{
	background-color:#D470A2;
	color:white;
	text-align: center;
	position:absolute;
	left:330px;
	top:165px;
	height:390px;
    width:150px;
}
.backtobusiness
{background-color:#89cff0;
color:white;
padding-left: 20px;
position:absolute;
height: 80px;
width: 480px;
z-index: -1;
top: 410px;}

.footer_div
{height: 60px;
text-align:center;
width: 220px;
position:absolute;
left: 290px;
bottom: 1px;
display:flex;
justify-content: center;
align-items: center;
background-color:#89cff0;
color: white;}

.footer1
{height: 60px;
text-align:center;
width: 275px;
position:absolute;
left: 10px;
bottom: 1px;
display:flex;
justify-content:center;
align-items:center; 
background-color:#000000;
color: white;}
.image
{
	width: 500px;
	height: 450px;
	position: absolute;
	z-index: -1;
	top: 160px;
}